region_name = "$REGION_NAME"
ec2_name = "$EC2_NAME"
ami_id = "$AMI_ID"
os_name = "$OS_NAME"
os_version = "$OS_VERSION"
instance_type = "$INSTANCE_TYPE"

vpc_name = "$VPC_NAME"
subnet_name = "$SUBNET_NAME"

tag_name = "$EC2_NAME"
tag_project = "Symphony"
tag_organization = "Advantasure Inc."
tag_clietn = "AHS"

tfstate_backend = "symphony-ahs-backend-tfstate-$REGION_NAME"
tfstate_path = "tfstate/Compute/$EC2_NAME/$EC2_NAME.tfstate"

